.custonbutton{
    background-color:greenyellow;
}
.textCustom{
    color:greenyellow;
}
.textcustomred{
    color:red;
}
.textcustomblue{
    color:blue
}

.textcolorwhite{
    color:white;
}
.textcolorwhite{
    color:white;
}
